Repository LuckyFu1111/HyFuzz: changes, and which Codecov flags are due for each by the changed paths.
All: windows-server, mac-server, ubuntu-client

codecov.yml:

# Codecov configuration
coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
    patch:
      default:
        target: 80%

comment:
  layout: "reach, diff, flags, files"
  behavior: default

flags:
  windows-server:
    paths:
      - HyFuzz-Windows-Server/src/
    carryforward: true
  
  mac-server:
    paths:
      - HyFuzz-Mac-Server/src/
    carryforward: true
  
  ubuntu-client:
    paths:
      - HyFuzz-Ubuntu-Client/src/
    carryforward: true

ignore:
  - "*/tests/*"
  - "*/test_*.py"
  - "*/__pycache__/*"
  - "*/venv/*"

security: Fix critical Pickle RCE vulnerability (CVE-2024-XXXX)
  HyFuzz-Windows-Server/scripts/fix_pickle_vulnerability.py
  HyFuzz-Windows-Server/src/knowledge/cve_repository.py
  HyFuzz-Windows-Server/src/knowledge/cwe_repository.py
  HyFuzz-Windows-Server/src/knowledge/graph_cache.py
  HyFuzz-Windows-Server/src/knowledge/knowledge_loader.py
  HyFuzz-Windows-Server/src/llm/cache_manager.py
  HyFuzz-Windows-Server/src/llm/embedding_manager.py
  HyFuzz-Windows-Server/src/utils/safe_serializer.py
Due: windows-server

security: Add secure authentication and progress tracking
  HyFuzz-Windows-Server/src/utils/secure_auth.py
  SECURITY_FIXES_PROGRESS.md
Due: windows-server

security: Fix P0 vulnerabilities - hardcoded secrets and unsafe imports
  HyFuzz-Windows-Server/.env.example
  HyFuzz-Windows-Server/.gitignore
  HyFuzz-Windows-Server/src/__init__.py
  HyFuzz-Windows-Server/src/api/middleware.py
  HyFuzz-Windows-Server/src/llm/__init__.py
  HyFuzz-Windows-Server/src/utils/safe_imports.py
Due: windows-server

security: Implement global exception handling (P0 fix 4/4)
  HyFuzz-Windows-Server/src/__main__.py
  HyFuzz-Windows-Server/src/utils/exception_handler.py
Due: windows-server

docs: Finalize P0 security fixes completion documentation
  P0_SECURITY_FIXES_COMPLETE.md
  SECURITY_FIXES_PROGRESS.md
Due: none

fix: Correct logging field name in exception handler
  HyFuzz-Windows-Server/src/utils/exception_handler.py
Due: windows-server

docs: Add staging deployment and P1 performance improvement guides
  P1_PERFORMANCE_IMPROVEMENTS.md
  STAGING_DEPLOYMENT_CHECKLIST.md
Due: none

feat: Add comprehensive test suite and deployment automation
  HyFuzz-Windows-Server/scripts/deploy.sh
  HyFuzz-Windows-Server/scripts/health_check.sh
  HyFuzz-Windows-Server/scripts/rollback.sh
  HyFuzz-Windows-Server/tests/unit/test_exception_handler.py
  HyFuzz-Windows-Server/tests/unit/test_safe_imports.py
  HyFuzz-Windows-Server/tests/unit/test_safe_serializer.py
  NEXT_IMPROVEMENTS.md
Due: none

fix: P0.1 - Replace insecure pickle deserialization with HMAC-signed serialization (CWE-502)
  HyFuzz-Mac-Server/src/knowledge/cve_repository.py
  HyFuzz-Mac-Server/src/knowledge/cwe_repository.py
  HyFuzz-Mac-Server/src/knowledge/graph_cache.py
  HyFuzz-Mac-Server/src/utils/secure_serializer.py
  HyFuzz-Windows-Server/src/knowledge/cve_repository.py
  HyFuzz-Windows-Server/src/knowledge/cwe_repository.py
  HyFuzz-Windows-Server/src/knowledge/graph_cache.py
  HyFuzz-Windows-Server/src/utils/secure_serializer.py
  SECURITY_IMPROVEMENTS_REPORT.md
Due: windows-server, mac-server

feat: Implement complete fuzzing engine and advanced mutation strategies
  FUZZING_IMPROVEMENTS_SUMMARY.md
  FUZZING_LLM_OPTIMIZATION_PLAN.md
  HyFuzz-Ubuntu-Client/src/fuzzing/advanced_mutation_engine.py
  HyFuzz-Windows-Server/src/fuzzing/enhanced_fuzz_engine.py
Due: windows-server, ubuntu-client

feat: Implement comprehensive LLM optimization and fuzzing enhancements
  HyFuzz-Ubuntu-Client/tests/benchmark_fuzzing.py
  HyFuzz-Windows-Server/src/dashboard/monitoring_dashboard.py
  HyFuzz-Windows-Server/src/llm/batch_processor.py
  HyFuzz-Windows-Server/src/llm/semantic_cache.py
  HyFuzz-Windows-Server/src/mcp/fuzzing_integration.py
  LLM_FUZZING_OPTIMIZATION_COMPLETE.md
Due: windows-server

docs: Comprehensively improve code documentation and comments
  HyFuzz-Ubuntu-Client/src/protocols/coap_handler.py
  HyFuzz-Ubuntu-Client/src/utils/logger.py
  HyFuzz-Windows-Server/src/defense/defense_integrator.py
  HyFuzz-Windows-Server/src/fuzzing/enhanced_fuzz_engine.py
  HyFuzz-Windows-Server/src/protocols/coap_protocol.py
  HyFuzz-Windows-Server/src/protocols/http_protocol.py
  HyFuzz-Windows-Server/src/protocols/modbus_protocol.py
  HyFuzz-Windows-Server/src/protocols/mqtt_protocol.py
Due: windows-server, ubuntu-client

feat: Add comprehensive fuzzing tests for MCP and database components
  HyFuzz-Ubuntu-Client/tests/fuzzing/__init__.py
  HyFuzz-Ubuntu-Client/tests/fuzzing/test_database_fuzzing.py
  HyFuzz-Windows-Server/tests/fuzzing/README.md
  HyFuzz-Windows-Server/tests/fuzzing/__init__.py
  HyFuzz-Windows-Server/tests/fuzzing/test_database_fuzzing.py
  HyFuzz-Windows-Server/tests/fuzzing/test_mcp_fuzzing.py
  HyFuzz-Windows-Server/tests/fuzzing/test_mcp_transport_fuzzing.py
Due: none

fix(critical): Implement ContextRetriever.retrieve_context() functionality
  FIXES_APPLIED.md
  HyFuzz-Windows-Server/src/llm/llm_service.py
Due: windows-server

fix(critical): Complete all enhanced_fuzz_engine.py TODO implementations
  HyFuzz-Windows-Server/src/fuzzing/enhanced_fuzz_engine.py
Due: windows-server

fix(critical): Remove mock classes and add proper dependency checks for HTTP transport
  HyFuzz-Mac-Server/src/mcp_server/http_transport.py
  HyFuzz-Windows-Server/src/mcp_server/http_transport.py
Due: windows-server, mac-server

docs: Add comprehensive completion summary and fix documentation
  COMPLETION_SUMMARY.md
Due: none

fix(medium): Improve exception handling with specific types and logging
  HyFuzz-Windows-Server/src/config/config_loader.py
  HyFuzz-Windows-Server/src/mcp/fuzzing_integration.py
  REMAINING_IMPROVEMENTS.md
Due: windows-server

feat(major): Add comprehensive protocol fuzzers and enhanced AI capabilities
  HyFuzz-Mac-Server/src/knowledge/graph_db_manager.py
  HyFuzz-Mac-Server/src/knowledge/vector_db_manager.py
  HyFuzz-Mac-Server/src/llm/llm_service.py
  HyFuzz-Windows-Server/src/fuzzing/protocol_fuzzers.py
  HyFuzz-Windows-Server/src/knowledge/graph_db_manager.py
  HyFuzz-Windows-Server/src/knowledge/vector_db_manager.py
  HyFuzz-Windows-Server/src/llm/llm_service.py
Due: windows-server, mac-server

feat(major): Implement AI Learning Engine, PDF Exporter, and Notification System
  HyFuzz-Mac-Server/src/notifications/discord_notifier.py
  HyFuzz-Mac-Server/src/notifications/email_notifier.py
  HyFuzz-Mac-Server/src/notifications/sms_notifier.py
  HyFuzz-Mac-Server/src/notifications/teams_notifier.py
  HyFuzz-Mac-Server/src/notifications/webhook_notifier.py
  HyFuzz-Mac-Server/src/reporting/pdf_exporter.py
  HyFuzz-Ubuntu-Client/src/judge/learning_engine.py
  HyFuzz-Windows-Server/src/notifications/discord_notifier.py
  HyFuzz-Windows-Server/src/notifications/email_notifier.py
  HyFuzz-Windows-Server/src/notifications/slack_notifier.py
  HyFuzz-Windows-Server/src/notifications/sms_notifier.py
  HyFuzz-Windows-Server/src/notifications/teams_notifier.py
  HyFuzz-Windows-Server/src/notifications/webhook_notifier.py
  HyFuzz-Windows-Server/src/reporting/pdf_exporter.py
Due: windows-server, mac-server, ubuntu-client
